#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  .btn {
    width: 200px;
    margin: 10vh;
  }

  .divider {
    background: #e8e8e8;
    margin: 0;
    height: 2px;
    width: 50%
  }
}
