#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding-top: 2%;

  #logo {
    widht: 800px;
    height: 200px;
  }

  .btn {
    width: 200px;
    margin: 5vh;
  }

  @media (max-width: 450px) {
    margin-top: 26%;

    .btn {
      width: 200px;
      margin: 2vh;
    }

    #logo {
      width: 200px;
      height:200px;
    }
  }

}
