#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding-top: 2%;

  .btn {
    width: 20vw;
    margin: 2vh;
  }

  #logo {
    height: 39vh;
  }

  #exit {
    background: url(../public/assets/exit.png) no-repeat;
    background-position: center;
    height: 5vh;
    width: 5vw;
    position: absolute;
    left: 92.9vw;
    bottom: 90vh;
  }

  // FULLHD
  @media (min-width: 1900px){
    #logo {
      height: 58vh;
    }
    .btn {
      font-size: 20pt;
      width: 32vw;
      height: 8vh;
      margin: 2vh;
    }
  }

  // Tablet
  @media (max-width: 1366px) {
    padding-top: 5%;
    #logo {
      height: 50vh;
    }
    #exit {
      height: 5vh;
      width: 10vw;
      left: 85.6vw;
      bottom: 87vh;
    }
    .btn{
      width: 30vw;
    }
  }

  //iPad
  @media (max-width: 780px) {
    padding-top: 20%;
    #logo {
      height: 45vh;
    }
    #exit {
      height: 6vh;
      width: 10vw;
      left: 85vw;
      bottom: 87vh;
    }
    .btn{
      width: 30vw;
    }
  }

  // Querformat Smartphone
  @media (max-width: 750px) {
    padding-top:5%;
    #logo {
      height: 45vh;
    }
    #exit {
      height: 7vh;
      width: 10vw;
      left: 86vw;
      bottom: 88vh;
    }
    .btn{
      width: 30vw;
    }
  }

  // Smartphonesicht
  @media (max-width: 450px) {
    padding-top: 25%;

    #logo {
      height: 35vh;
    }

    .btn {
      width: 43vw;
    }

    #exit {
      height: 4vh;
      left: 80vw;
      bottom: 90vh;
    }
  }

  // Smartphonesicht noch kleiner
  @media (max-width: 325px) {
    margin-top: 5vh;

    .btn {
      width: 48vw;
    }

    #exit{
      left: 80vw;
    }
  }

}