#room {
  flex: 1;

  display: flex;
  flex-direction: column;

  #exit {
    background: url(../public/assets/exit.png) no-repeat;
    background-position: center;
    height: 5vh;
    width: 5vw;
    position: absolute;
    left: 94vw;
    bottom: 92vh;
  }

  #zurueck {
    background: url(../public/assets/Pfeil_links.png) no-repeat;
    background-position: center;
    background-size: 90% 100%;
    height: 5vh;
    width: 5vw;
    position: absolute;
    right: 93vw;
    bottom: 92vh;
  }

  h1{
    text-align:center;
  }


  .join-area-wrapper {
    margin-top: 10px;
    flex: 1;
    width: 70%;
    margin: auto;

    display: flex;

    .join-area {
      flex: 1;
      margin-left: 40px;

      &:first-child {
        margin: 0;
      }

      & > * {
        margin: 15px 0;
      }

      &.joined {
        .qr-code, .clear-code, .join {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .qr-code {
        position: relative;
        width: 100%;
        height: auto;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }

        .code-holder {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 20px;

          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .clear-code {
        text-align: center;
        width: 100%;
      }

      .join {
        width: 100%;
        margin-bottom: 0;
      }

    }
  }

  // FULLHD
  @media (min-width: 1900px){
    h1 {
      font-size: 60pt;
    }
    .join-area-wrapper {
      width: 74%;
    }
  }

  // Tablet
  @media (max-width: 1366px) {
    .join-area-wrapper {
      width: 60%;
      margin: auto;
      margin-bottom: 0;
    }
    #exit {
      height: 5vh;
      width: 10vw;
      left: 86.5vw;
      bottom: 89vh;
    }
    #zurueck {
      right: 89vw;
      bottom: 88vh;
    }
  }

  //iPad
  @media (max-width: 780px) {
    padding-top: 15%;

    #exit {
      height: 6vh;
      width: 10vw;
      left: 87.6vw;
      bottom: 89vh;
    }
    #zurueck {
      width: 10vw;
      right: 85vw;
      bottom: 89vh;
    }
  }

  // Querformat Smartphone
  @media (max-width: 750px) {
    padding-top: 5%;
    #exit {
      height: 6vh;
      width: 10vw;
      left: 86vw;
      bottom: 89vh;
    }
    #zurueck {
      width: 6vw;
      right: 87vw;
      bottom: 89vh;
    }
  }

  // Smartphonesicht
  @media (max-width: 450px) {
    padding-top: 100px;
    .join-area-wrapper {
      width: 100%;
      margin: auto;
    }
    #exit {
      height: 4vh;
      left: 83.5vw;
      bottom: 92vh;
    }
    #zurueck {
      width: 10vw;
      right: 83.5vw;
      bottom: 91vh;
    }
  }
}
