#start {
	flex: 1;

	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	
	#exit {
		background: url(../public/assets/exit.png) no-repeat;
		background-position: center;
		height: 5vh;
		width: 5vw;
		position: absolute;
		left: 94vw;
		bottom: 92vh;
	}

	#zurueck {
		background: url(../public/assets/Pfeil_links.png) no-repeat;
		background-position: center;
		background-size: 90% 100%;
		height: 5vh;
		width: 5vw;
		position: absolute;
		right: 93vw;
		bottom: 92vh;
	}

	.btn-wrapper {
		flex: 1;
		align-self: center;

		display: flex;
		align-items: center;

		.btn {
			width: 200px;
		}
	}

	// FULLHD
	@media (min-width: 1900px) {
		* {
			font-size: 20pt;
		}
		h1 {
			font-size: 60pt;
		}
	}

	// zwischen iPad < X
	@media (min-width: 1000px){
		padding-top: 10%;
		* {
			font-size: 20pt;
		}
		h1 {
			font-size: 60pt;
		}
	}

	//iPad
	@media (max-width: 780px) {
		padding-top: 15%;
		* {
			font-size: 20pt;
		}
		h1 {
			font-size: 40pt;
		}
	}

	// Querformat Smartphone 750px
	@media (max-width: 750px) {
		padding-top: 5%;
		* {
			font-size: 15pt;
		}
		h1 {
			font-size: 25pt;
		}
	}

	// Querformat Smartphone 580px
	@media (max-width: 580px) {
		padding-top: 5%;
		* {
			font-size: 10pt;
		}
		h1 {
			font-size: 20pt;
		}
	}

	// Smartphonesicht
	@media (max-width: 450px) {
		padding-top: 50px;
		* {
			font-size: 18pt;
		}
		h1 {
			font-size: 30pt;
		}
	}

	// kleines Smartphone (iphone 5) breite < 350px
	@media (max-width: 350px) {
		* {
			font-size: 10pt;
		}
		h1 {
			font-size: 30pt;
		}
	}
}