@import "bootstrap/bootstrap";

html, body, #view {
  position: absolute;
  width: 100vw;
  min-height: 100vh;

  @media (min-width: 1024px) {
    min-height: inherit;
    height: 100vh;
  }
}

body {
  background: url(../public/assets/landscape.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Wendy One;

  h1{
    color:white;
    text-shadow: 1px  1px 2px black,
      1px -1px 2px black,
      -1px  1px 2px black,
      -1px -1px 2px black;
  }

  #close {
    position: absolute;
    background: url("../public/assets/button_close.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    top:10px;
    right: 10px;
  }

  #back {
    position: absolute;
    background: url("../public/assets/button_back.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    top:10px;
    left: 10px;
  }

  // Laptop
  @media (max-width: 1400px) {
    #close {
      position: absolute;
      background: url("../public/assets/button_close.png");
      background-size: contain;
      width: 40px;
      height: 40px;
      top:10px;
      right: 10px;
    }
    #back {
      position: absolute;
      background: url("../public/assets/button_back.png");
      background-size: contain;
      width: 40px;
      height: 40px;
      top:10px;
      left: 10px;
    }
  }

  // Tablet
  @media (max-width: 1024px) {
    background-size: 100vw 120vh;
  }

  @media (max-width: 780px) {
    background-size: 100vw 120vh;
    #close {
      position: absolute;
      background: url("../public/assets/button_close.png");
      background-size: contain;
      width: 30px;
      height: 30px;
      top:10px;
      right: 10px;
    }
    #back {
      position: absolute;
      background: url("../public/assets/button_back.png");
      background-size: contain;
      width: 30px;
      height: 30px;
      top:10px;
      left: 10px;
    }
  }
  
  @media (max-width: 325px){
	background-size: 130vw 120vh;
  }
}

.btn {
  background-image: url("../public/assets/holz.jpg");
  border-radius: 0px;
}


#view {
  display: flex;
  flex-direction: column;

  padding: 30px;
  background: rgba(255, 255, 255, 0);

  @media (max-width: 450px) {
    max-height: 768px;
    background-image: url(../public/assets/mobileLandscape.png);
    background-size: cover;
  }

}

#errorview {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 100;
}

@import "_home";
@import "_join";
@import "_start";
@import "_room";
@import "_wait";
@import "_game";
