doctype html
html(lang="de")
	head
		title Castle Crush
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no")
		meta(name="mobile-web-app-capable" content="yes")
		link(rel="stylesheet" href="css/style.css")

	body
		aside#errorview
		main#view

		script(src='public/phaser.min.js')
		script(src='public/qrcode.min.js')
		script(src='public/instascan.min.js')
		script(src='public/socket.io.js')
		script(src='js/main.js')
