doctype html
html(lang="de")
	head
		title Castle Crush
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/style.css")

	body
		asside#errorview
		main#view

		script(src='public/phaser.min.js')
		script(src='config.js')
		script(src='js/main.js')
