#home

	#setting.btn.btn-primary.btn-lg(@click="home") Zurück zur Startseite

	img#logo(src="../public/assets/LogoHome.png")

	button.btn.btn-primary.btn-lg(@click="join") Spiel beitreten

	button.btn.btn-primary.btn-lg(@click="start") Spiel erstellen
	
	button.btn.btn-primary.btn-lg(@click="start") Spiel schließen
