#join
	h1.hidden-xs CastleCrush beitreten

	.join-area
		.row.form-group
			.col-sm-3.control-label.input-lg Nickname:
			.col-sm-9
				input.nickname.form-control.input-lg(placeholder="z. B. JonSmith1337")

		.qr-code.form-control
			.switch-camera S
			video#scanner

		input.clear-code.form-control.input-lg(placeholder="oder Code eingeben")

		button.join.btn.btn-primary.btn-lg.btn-block(@click="join") beitreten
