#join
	h1 CastleCrush beitreten

	.join-area
		.qr-code.form-control
			.switch-camera S
			video#scanner

		input.clear-code.form-control.input-lg(placeholder="oder Code eingeben")

		button.join.btn.btn-primary.btn-lg.btn-block(@click="join") beitreten
