#wait
	h1 Gleich geht es los!

	.wrapper
		.row.form-group
			.col-sm-3.control-label.input-lg Nickname:
			.col-sm-9
				input.nickname.form-control.input-lg(placeholder="z. B. JonSmith1337")

		button.ready.btn.btn-primary.btn-lg.btn-block(@click="ready") Ich bin bereit
